layout {
    tab name="Zellij-Console" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane split_direction="vertical" {
            pane split_direction="horizontal" size="65%" {
                pane edit=""
                // This require the `bacon` command to be installed
                pane command="bacon" name="Compile and reload plugin" {
                    size "25%"
                }
            }
            pane stacked=true {
                pane {
                    plugin location="zc"
                }
                pane command="gitui" {
                     start_suspended true
                }
                pane
            }
        }
    }
}
